{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KPI-IndoRiset | Landing Page</title>
    <link rel="shortcut icon" href="{% static 'images/logo.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Navbar -->
    <div class="container my-4">
        <nav class="navbar navbar-expand-lg navbar-light custom-nav">
            <a class="navbar-brand" href="#">
                <span><img src="{% static 'images/logo.png' %}" alt="logo-dinporapar" width="47" height="49"></img> KPI IndoRiset Grup</span>
            </a>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            </div>
        </nav>
    </div>
    <!-- Home -->
    <section id="Home">
        <div class="container col-xxl-8 px-4 py-12">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-12">
                <div class="col-10 col-sm-8 col-lg-6">
                    <img src="{% static 'images/gambar-home.svg' %}" class="d-block mx-lg-auto img-fluid" alt="gambar-home" width="450" height="450" loading="lazy">
                </div>
                <div class="col-lg-6">
                    <h1 class="display-5 fw-bold lh-2 mb-3">
                        Selamat Datang di Sistem KPI (Key Performance Indicator) IndoRiset Grup!
                    </h1>
                    <p class="lead">
                        Sistem ini dirancang untuk membantu manajemen dan tim dalam mengelola proyek secara lebih efektif, 
                        mulai dari perencanaan kegiatan, penugasan pekerjaan, pengumpulan laporan, hingga proses evaluasi kinerja. 
                        Dengan sistem ini, setiap proyek dapat dipantau secara transparan sehingga mendukung peningkatan kualitas pekerjaan dan ketepatan waktu penyelesaian tugas.
                    </p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <button type="button" class="btn btn-primary btn-sm btn-login px-4 me-md-2" 
                        data-bs-toggle="modal" data-bs-target="#exampleModal4" data-bs-whatever="@mdo"><i class="fa-solid fa-xl fa-arrow-right-to-bracket"></i> Login</button>
                    </div>
                    <!-- Modal Login -->
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                        <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-xl bg-transparent" style="border: none;">
                                <div class="modal-content bg-transparent" style="border: none;">
                                    <div class="modal-body bg-transparent" style="border: none;">
                                        <div class="container py-5 h-100">
                                            <div class="row d-flex justify-content-center align-items-center h-100">
                                                <div class="col col-xl-10">
                                                    <div class="card shadow" style="border-radius: 1rem;">
                                                        <div class="row g-5">
                                                            <div class="col-md-6 col-lg-5 d-none d-md-block">
                                                                <img id="gambar-login" src="{% static 'images/login.svg' %}" alt="ilustrasi-login" class="img-fluid">
                                                            </div>
                                                            <div class="col-md-6 col-lg-7 d-flex align-items-center">
                                                                <div class="card-body p-4 p-lg-5 text-black">
                                                                    <form method="post" action="{% url 'login' %}">
                                                                        {% csrf_token %}
                                                                        <h5 class="h5-login mb-3">Silahkan login ke akun anda</h5>
                                                                        {% if msg %}
                                                                            <div class="alert alert-danger col-10" role="alert">
                                                                                {{ msg }}
                                                                            </div>
                                                                        {% endif %}
                                                                        <div class="mb-1 col-10">
                                                                            <label for="username-login" class="col-form-label">Username</label>
                                                                            <input type="text" name="username" class="form-control" id="username-login" required>
                                                                        </div>
                                                                        <div class="mb-3 col-10">
                                                                            <label for="password-login" class="col-form-label">Password</label>
                                                                            <input type="password" name="password" class="form-control" id="password-login" required>
                                                                        </div>
                                                                        <div class="mb-3">
                                                                            <button type="submit" class="btn btn-danger btn-sm btn-modal-login px-4 me-md-2">Login</button>
                                                                            <button type="button" class="btn btn-danger btn-modal-cancel btn-sm px-4" data-bs-dismiss="modal">Cancel</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Alur -->
    <section id="Alur">
        <div class="container col-xxl-8 px-4 py-12">
            <h1 class="display-5 fw-bold lh-2 mb-3">
                Menjadi Karyawan Teladan
            </h1>
            <p class="lead" style="text-align: center;">
                Bangun performa terbaik dan tingkatkan kontribusi Anda di perusahaan.
            </p>
            <div class="teladan">
                <div class="teladan-item">
                    <div class="teladan-icon">
                        <div class="teladan-number">1</div>
                        <i class="fa-regular fa-clock"></i>
                    </div>
                    <div class="teladan-content">
                        <h3>Disiplin Waktu</h3>
                        <p>
                            Menjalankan tugas sesuai deadline menunjukkan 
                            profesionalisme dan meningkatkan kepercayaan dalam tim maupun perusahaan.
                        </p>
                    </div>
                </div>
                <div class="teladan-item">
                    <div class="teladan-icon">
                        <div class="teladan-number">2</div>
                        <i class="fa-solid fa-rocket"></i>
                    </div>
                    <div class="teladan-content">
                        <h3>Produktivitas Tinggi</h3>
                        <p>
                            Fokus pada hasil kerja yang optimal serta konsisten dalam menyelesaikan pekerjaan dengan kualitas terbaik.
                        </p>
                    </div>
                </div>
                <div class="teladan-item">
                    <div class="teladan-icon">
                        <div class="teladan-number">3</div>
                        <i class="fa-solid fa-users"></i>
                    </div>
                    <div class="teladan-content">
                        <h3>Kerja Sama Tim</h3>
                        <p>
                            Mampu berkolaborasi dengan baik untuk mencapai tujuan bersama dan menciptakan lingkungan kerja yang harmonis.
                        </p>
                    </div>
                </div>
                <div class="teladan-item">
                    <div class="teladan-icon">
                        <div class="teladan-number">4</div>
                        <i class="fa-regular fa-lightbulb"></i>
                    </div>
                    <div class="teladan-content">
                        <h3>Inisiatif & Inovasi</h3>
                        <p>
                            Selalu proaktif dalam mencari solusi dan memberikan ide baru untuk meningkatkan efisiensi serta kinerja perusahaan.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer -->
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 bg-dark border-top">
        <div class="container d-flex justify-content-between">
            <div class="col-md-4 d-flex align-items-center">
                <a href="/" class="mb-3 me-2 mb-md-0 text-white text-decoration-none lh-1">
                    <!-- <img src="{% static 'images/logo.png' %}" alt="logo-dinporapar" width="45" height="47"></img> -->
                </a>
                <span class="mb-3 mb-md-0 text-white fw-light" style="font-size: 13.5px;">
                    IndoRiset Grup &copy; 2026. <br>PT. Indo Riset Strategis, PT. Koopillar.
                </span>
            </div>   
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <a class="text-white" href="#">
                        <i class="fa-brands fa-lg fa-x-twitter"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-white" href="https://www.facebook.com/people/INDORISETid/61552928267923/">
                        <i class="fa-brands fa-lg fa-square-facebook"></i>
                    </a>
                </li>
                <li class="ms-3">
                    <a class="text-white" href="https://www.instagram.com/indoriset.id/">
                        <i class="fa-brands fa-lg fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
    </footer>
    <script>
        // Menampilkan kembali modal jika terjadi kesalahan login
        document.addEventListener('DOMContentLoaded', function () {
            var modal = new bootstrap.Modal(document.getElementById('exampleModal4'));

            // Periksa apakah pesan error ada pada modal
            var errorAlert = document.querySelector('.alert-danger');
            if (errorAlert) {
                modal.show();
            }
        });

        // Navbar
        window.addEventListener('scroll', function(){
            var navbar = document.querySelector('.custom-nav');
            navbar.classList.toggle('sticky-navbar', window.scrollY > 0);
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>